@use '../utils/vars';

.board {
  &__card-list {
    overflow-y: auto;
    max-height: calc(100vh - 335px);
    padding-right: 6px;
    box-sizing: border-box;

    &::-webkit-scrollbar {
      width: 6px; /* Ширина вертикального скроллбара */
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1; /* Цвет фона трека */
      border-radius: 10px; /* Закругление углов трека */
    }

    &::-webkit-scrollbar-thumb {
      transition: vars.$transition;

      background: #888; /* Цвет полосы прокрутки */
      border-radius: 10px; /* Закругление углов полосы прокрутки */

      &:hover {
        background: #555; /* Цвет полосы прокрутки при наведении */
      }
    }
  }

  &__card {
    position: relative;

    padding: 10px 25px 10px 15px;

    background-color: vars.$background-main-color;
    border-radius: vars.$border-radius-default;

    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;

    &:not(:last-child) {
      margin-bottom: 0.375rem;
    }

    &:hover &-delete-btn {
      opacity: 1;
    }

    &-title {
      margin-bottom: 0.8rem;
    }

    &-text {
      color: vars.$secondary-text-color;
    }

    &-delete-btn {
      position: absolute;
      top: 0.4rem;
      right: 0.4rem;

      opacity: 0;

      &:hover {
        transform: scale(1.2);
        color: vars.$danger-color;
      }
    }

    &--dragging {
      opacity: 0.9;
      transform: rotate(1.4deg);
      transition: transform 0.1s ease-in-out;
      pointer-events: none;
      z-index: 1000;

      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    &-placeholder {
      transition: all 0.2s ease;

      margin: 4px 0;

      background-color: rgba(0, 121, 191, 0.1);
      border-radius: vars.$border-radius-default;
      border: 2px dashed vars.$primary-color;
    }
  }
}
